.header-container {
  background-color: var(--primary-color); 
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease; 
}

.header-container a {
  text-decoration: none;
}

.header-container a.header-title {
  position: relative;
  color: var(--secondary-color); 
}

.header-container a.header-title:hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--secondary-color); 
}

.header-nav-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color); 
}

.header-container.open .header-nav {
  display: flex;
  flex-direction: column;
}

.header-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: var(--secondary-color); 
  margin: 0;
  text-decoration: none;
}

.header-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-nav-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

.header-nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: var(--secondary-color); 
  text-decoration: none;
  transition: color 0.2s ease; 
}

.header-nav-link:hover {
  color: lighten(var(--secondary-color), 10%); 
}

/* .header-nav-link:hover {
  text-decoration: underline;
} */

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header-nav {
    flex-direction: column;
    position: absolute;
    background-color: var(--primary-color); 
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
    /* Add this line to hide the buttons by default */
  }

  .header-container.open .header-nav {
    display: flex;
    /* Add this line to show the buttons when the menu is expanded */
  }

  .header-nav-item {
    margin: .32rem 0;
  }

  .menu-toggle {
    display: block;
  }

  .header-container.open+.content {
    margin-top: 220px;
  }
}

.menu-toggle {
  background: none;
  border: none;
  color: var(--secondary-color); 
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .nav.nav-open {
    display: block;
  }

  .menu-toggle {
    display: block;
  }
}