.header-container {
  background-color: #003f5c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.header-container.open .header-nav {
  display: flex;
}

.header-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #00a8e8;
  margin: 0;
}

.header-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-nav-item {
  margin-left: 1rem;
}

.header-nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #00a8e8;
  text-decoration: none;
}

.header-nav-link:hover {
  text-decoration: underline;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header-nav {
    flex-direction: column;
    position: absolute;
    background-color: #003f5c;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
  }

  .header-nav-item {
    margin: 0.5rem 0;
  }

  .menu-toggle {
    display: block;
  }
}
