.workexperience-container {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
}

.workexperience-title {
  margin-top: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 0rem;
  background-color: #f7f7f7;
}

.workexperience {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.workexperience a {
  color: var(--secondary-color);
  text-decoration: none;
}

.workexperience a:hover {
  text-decoration: underline;
}